body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(rgb(207, 115, 177), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(253, 245, 245);
}

.background{
    height: 100vh;
    width: 100%;
    background: url('https://media.istockphoto.com/id/1188704231/photo/businessman-working-hard-in-his-office.webp?a=1&b=1&s=612x612&w=0&k=20&c=GixsU9vgECI4w5RRrOKys8UwVt6F4Cor18obXUE73Yo=');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.clock{
    color: white;
    position: absolute;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.637);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: bold;
}